:root {
	/* Font */
	font-family: system-ui;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light;
	color: rgba(255, 255, 255, 0.87);

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	/* Background */
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	height: 100%;
	overflow: hidden;

	touch-action: pan-y;
}

body {
	margin: 0;
}

@media (max-width: 500px) {
	body {
		position: relative;
	}

	html {
		overflow-y: auto !important;
	}

	#app {
		height: 100%;
		min-height: 100vh;
	}
}
